{
        "dev":  {               
                "api": {
                        "AUTH_SERVER_URL": "http://192.168.1.17:8585"
                }
        },
        "qa": {                
                "api": {                        
                        "AUTH_SERVER_URL": "https://demo.cis.api.intocareers.xyz"
                }
        },
        "prod": {
                "api": {                                
                        "AUTH_SERVER_URL": "https://demo.cis.api.intocareers.xyz"
                }
        }
}