<div id="accordion" class="pathway-p3" role="tablist" aria-multiselectable="true">
  <div class="row iteam-none-big-screen">
    <div class="col-12 col-lg-6 col-md-6 ">
      <div class="row gutter-10">
        <div *ngFor="let item of pathwaysData.Pathways;let inx=index" class="col-lg-12 col-md-12 col-12 pathway-card-bgcolor">
          <div *ngIf="(inx%2==0)" class="card-plp3 inr-card">
            <div class="">
              <!--<div class="card-plp3 " class="card-header-plp3 ">
          <h5>{{item.header}} </h5>
        </div>-->
              <div class="card-header-plp3 card-header-plp3-atc addp2" role="tab" id="headingTwo" (click)="(filter != inx)?methodfilter

(inx,inx,inx):methodfilter(999,inx,inx)">
                <h5><i aria-hidden="true"></i> &nbsp;&nbsp;{{item.header}}
                 <button class="btn-bg-none btn-white-color pull-right"> <i *ngIf="(filter != inx )" class="icon-down-rounded-arrow  icon-align-plp3-right" aria-hidden="true"></i>
                  <i *ngIf="filter == inx" class="icon-up-rounded-arrow  icon-align-plp3-right" aria-hidden="true"></i></button>
                </h5>
              </div>
            </div>
            <div id=1 #filter1 *ngIf="(filter ==inx && showId==inx)" class="" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block " [ngClass]="{'': highlightedDiv === inx}">
                <div class="inner">
                  <p>{{item.intro}}</p>
                  <ul class="plp3-list related-career link-text-rc">
                    <li class="" *ngFor="let items of item.links;let in=index;">
                      <i class="fa fa-chevron-right arrow-align-plp3 text-align-plp3 "></i>
                      <a href="#" class="list-text-alignment-plp3 pointer" 
(click)="$event.preventDefault();CallOccDetailCareer(items.linkID,items.linkTitle)">{{items.linkTitle}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6">

      <div class="row gutter-10">
        <div *ngFor="let item of pathwaysData.Pathways;let inx=index" class="col-lg-12 col-md-12 col-12 pathway-card-bgcolor">
          <div *ngIf="(inx%2==1)" class="card-plp3 inr-card">
            <div class="">
              <!--<div class="card-plp3 " class="card-header-plp3 ">
          <h5>{{item.header}} </h5>
        </div>-->
              <div class="card-header-plp3 card-header-plp3-atc addp2" role="tab" id="headingTwo" (click)="(filter != inx)?methodfilter

(inx,inx,inx):methodfilter(999,inx,inx)">
                <h5><i aria-hidden="true"></i> &nbsp;&nbsp;{{item.header}}
                <button class="btn-bg-none btn-white-color pull-right">  <i *ngIf="(filter != inx )" class="icon-down-rounded-arrow  icon-align-plp3-right" aria-hidden="true"></i>
                  <i *ngIf="filter == inx" class="icon-up-rounded-arrow  icon-align-plp3-right" aria-hidden="true"></i></button>
                </h5>
              </div>
            </div>
            <div id=1 #filter1 *ngIf="(filter ==inx && showId==inx)" class="" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block " [ngClass]="{'': highlightedDiv === inx}">
                <div class="inner">
                  <p>{{item.intro}}</p>
                  <ul class="plp3-list related-career link-text-rc">
                    <li class="" *ngFor="let items of item.links;let in=index;">
                      <i class="fa fa-chevron-right arrow-align-plp3 text-align-plp3 "></i>
                      <a href="#" 
 class="list-text-alignment-plp3 pointer"
 (click)="$event.preventDefault();CallOccDetailCareer(items.linkID,items.linkTitle)">{{items.linkTitle}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 iteam-none-small-screen">
      <div class="row gutter-10">
        <div *ngFor="let item of pathwaysData.Pathways;let inx=index" class="col-lg-12 col-md-12 col-12 pathway-card-bgcolor">
          <div class="card-plp3 inr-card">
            <div class="">
              <!--<div class="card-plp3 " class="card-header-plp3 ">
          <h5>{{item.header}} </h5>
        </div>-->
              <div class="card-header-plp3 card-header-plp3-atc addp2" role="tab" id="headingTwo" (click)="(filter != inx)?methodfilter

(inx,inx,inx):methodfilter(999,inx,inx)">
                <h5><i aria-hidden="true"></i> &nbsp;&nbsp;{{item.header}}
                 <button class="btn-bg-none btn-white-color pull-right"> <i *ngIf="(filter != inx )" class="icon-down-rounded-arrow  icon-align-plp3-right" aria-hidden="true"></i>
                  <i *ngIf="filter == inx" class="icon-up-rounded-arrow   icon-align-plp3-right" aria-hidden="true"></i>
					</button>
                </h5>
              </div>
            </div>
            <div id=1 #filter1 *ngIf="(filter ==inx && showId==inx)" class="" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block " [ngClass]="{'': highlightedDiv === inx}">
                <div class="inner">
                  <p>{{item.intro}}</p>
                  <ul class="plp3-list related-career link-text-rc">
                    <li class="" *ngFor="let items of item.links;let in=index;">
                      <i class="fa fa-chevron-right arrow-align-plp3 text-align-plp3 "></i>
                     <a href="#"  
class="list-text-alignment-plp3 pointer"  (click)="$event.preventDefault();CallOccDetailCareer(items.linkID,items.linkTitle)">{{items.linkTitle}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
