<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card1  learning-style-card">
    <div class="card-header-plp3 card-header-plp3-atc addp2" role="tab" id="headingOne" activeIds="1" (click)="(filter != 1)?methodfilter(1):methodfilter(999)">
      <h5 class="heading-plp3">
        <span><i class="icon-preparation icon-align-plp3"></i></span>
        <span class="w-100"> {{educationTraining.PreparationSection}}</span>
        <span> 
<button class="btn-bg-none btn-white-color pull-right">
       <i *ngIf="(filter != 1)" class="icon-down-rounded-arrow icon-align-plp3-right" aria-hidden="true"></i>
        <i *ngIf="filter == 1" class="icon-up-rounded-arrow icon-align-plp3-right" aria-hidden="true"></i>
</button>
</span>
      </h5>

    </div>
    <div id="1" #filter1 *ngIf="filter == 1" class="" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block ">
        <div *ngFor="let item of educationTraining.Preparation">
          <p *ngIf="item.type == 'p'">{{item.text}}</p>
          <ul class="plp3-list link-text-rc" *ngIf="item.type == 'ul'">
            <li *ngFor="let val of item.text">
              <i class="fa fa-chevron-right arrow-align-plp3" aria-hidden="true"></i>
              <div class="list-text-alignment-plp3"> {{val}}</div>
            </li>
          </ul>

          <h6 *ngIf="item.type == 'h'" class="margin-plp3"><b>{{item.text}}</b> </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card1 clusEducationGreen">
    <div class="card-header-plp3 card-header-plp3-atc addp2" role="tab" id="headingTwo" (click)="(filter != 2)?methodfilter(2):methodfilter(999)">
      <h5 class="heading-plp3">
        <span><i class="icon-helpful-high-school-courses icon-align-plp3" aria-hidden="true"></i></span>
        <span class="w-100"> {{educationTraining.HelpfulHSCoursesSection}}</span>
        <span>
<button class="btn-bg-none btn-white-color pull-right">
<i *ngIf="(filter != 2)" class="icon-down-rounded-arrow  icon-align-plp3-right" aria-hidden="true"></i>
     <i *ngIf="filter == 2" class="icon-up-rounded-arrow icon-align-plp3-right" aria-hidden="true"></i>
</button>
</span>
      </h5>
    </div>
    <div id="2" #filter2 *ngIf="filter == 2" class="" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block ">
        <div *ngFor="let item of educationTraining.HelpfulHSCourses">
          <p class="para-padding-plp3" *ngIf="item.type == 'p'" [innerHTML]='item.text | customText '></p>
          <ul class="plp3-list link-text-rc" *ngIf="item.type == 'ul'">
            <li *ngFor="let val of item.text">
              <i class="fa fa-chevron-right arrow-align-plp3" aria-hidden="true"></i>
              <div class="list-text-alignment-plp3">{{val}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card1 Occupation-Sort-card" *ngIf="educationTraining.LicensingCertLength != 0">
    <div class="card-header-plp3 card-header-plp3-atc addp2" role="tab" id="headingThree" (click)="(filter != 3)?methodfilter(3):methodfilter(999)">

      <h5 class="heading-plp3">
        <span><i class="icon-licensing-certification icon-align-plp3" aria-hidden="true"></i></span>
        <span class="w-100"> {{educationTraining.LicensingCertSection}}</span>
        <span>
<button class="btn-bg-none btn-white-color pull-right">
<i *ngIf="(filter != 3)" class="icon-down-rounded-arrow icon-align-plp3-right" aria-hidden="true"></i>
        <i *ngIf="filter == 3" class="icon-up-rounded-arrow icon-align-plp3-right" aria-hidden="true"></i>
</button>
</span>
      </h5>
    </div>
    <div id="3" #filter3 *ngIf="filter == 3" class="" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block ">
        <div *ngFor="let item of educationTraining.LicensingCert">
          <p *ngIf="item.type == 'p'" [innerHTML]='item.text | customText '></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card1 clusEducation">
    <div class="card-header-plp3 card-header-plp3-atc addp2" role="tab" id="headingThree" (click)="(filter != 4)?methodfilter(4):methodfilter(999)">
      <h5 class="heading-plp3">
        <span><i class="icon-programs-of-study icon-align-plp3" aria-hidden="true"></i> </span>
        <span class="w-100"> {{educationTraining.RelatedProgramsSection}}</span>
        <span>
<button class="btn-bg-none btn-white-color pull-right">
<i *ngIf="(filter != 4)" class="icon-down-rounded-arrow  icon-align-plp3-right" aria-hidden="true"></i>
        <i *ngIf="filter == 4" class="icon-up-rounded-arrow   icon-align-plp3-right" aria-hidden="true"></i>
</button>
</span>
      </h5>
    </div>
    <div id="4" #filter3 *ngIf="filter == 4" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block ">
        <p> {{educationTraining.RelatedPrograms.intro}}</p>
        <div *ngFor="let item of educationTraining.RelatedPrograms.lists">
          <p><b>{{item.header}}</b></p>
          <ul class="plp3-list link-text-rc">
            <li *ngFor="let text of item.links">
              <i class="fa fa-chevron-right arrow-align-plp3"></i>
              <div class="list-text-alignment-plp3"> {{text.linkTitle}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>