<!-- Desktop view for intrest-profiler intro-->
<div class="">
	<div class="mobile-design-hide-plp2" style="margin: 30px 25px 0px 0px; float: right;">
		<span class="btn-circle-help-p2">   
           <i class="fa fa-question" aria-hidden="true"  data-toggle="modal" data-target="#myModal2"></i> 
            </span>
		<a data-toggle="modal" data-target="#myModal2" style="cursor:pointer">
			<u>Help</u>
		</a>
	</div>
	<div class="clearfix"> </div>
	<div class="container">
		<div class="row vdivide">
			<div class="col-sm-12 col-md-5 text-center">
				<div class="desktop-design-hide-plp2">
					<p class="p-spiceing "> The Interest Profiler can help you identify your interests and match them with a wide variety of careers. The Interest
						Profiler can help you identify your interests and match them with a wide variety of careers.
						<br>

					</p>
					<ul class="plp4-list text-left " *ngFor="let list of introList">
						<li>
							<span><i class="fa fa-chevron-right arrow-align-plp3"></i></span>
							<span>{{list}}</span>

						</li>
					</ul> <br>
					<button class="btn-plp-2 btn-raised greencolor-for-start intro-btn-width" type="button" (click)="startAssessment()">Start </button>
				</div>

				<div class="mobile-design-hide-plp2 p-spiceing ">
					<p class=""> The Interest Profiler can help you identify your interests and match them with a wide variety of careers. The Interest
						Profiler can help you identify your interests and match them with a wide variety of careers. </p>
					<ul class="plp4-list text-left " *ngFor="let list of introList">
						<li>
							<span><i class="fa fa-chevron-right arrow-align-plp3"></i></span>
							<span>{{list}}</span>

						</li>
					</ul> <br><button class="btn-plp-2 btn-raised greencolor-for-start" type="button" (click)="startAssessment()">Start </button>
				</div>

			</div>
			<div class="col-sm-8 col-md-7 desktop-design-hide-plp2 intro-border">
				<h4 class="nopadding"> Instructions </h4>
				<p>The Interest Profiler can help you identify your interests and match them with a wide variety of careers. The Interest
					Profiler can help you identify your interests and match them with a wide variety of careers. </p>
				<h4 class="word-option"> Options </h4>
				<p>The response choices are:</p>
				<div class="row">
					<div class="options-plp-2 col-md-12">
						<div class="col-md-5ths text-center"> <i class="fa icon-asmnt-strongly-agree"></i>
							<p>Heigh</p>
						</div>
						<div class="col-md-5ths text-center"> <i class="fa icon-asmnt-between-somewhat"></i>
							<p>Mediam</p>
						</div>
						<div class="col-md-5ths text-center"> <i class="fa icon-asmnt-strongly-disagree"></i>
							<p>Low</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
<!-- Destop view End  -->

<!-- Mobile view for intrest-profiler intro page-->
<!-- POPUP in the mobile view when we click on help-->
<div class="modal  mobile-design-hide-plp2" id="myModal2" role="dialog">
	<div class="modal-dialog  popup-dialogbox-plp2">
		<div class="modal-content">
			<div class="modal-header  popup-header-plp2">
				<h5 class="nopadding"> Instructions </h5>
				<button type="button" class="close" data-dismiss="modal" style="color:#9d9d9d">&times;</button>
			</div>
			<div class="modal-body popup-body-plp2">
				<p>The Interest Profiler can help you identify your interests and match them with a wide variety of careers. <br> The Interest
					Profiler can help you identify your interests and match them with a wide variety of careers.</p>
				<h5 class="word-option"> Options </h5>
				<p>The response choices are:</p>
				<ul class="options-mobile-plp-2">
					<li> <i class="fa icon-asmnt-strongly-agree"></i>
						<h5 class="form-control  smile-mobile-popup"> Heigh</h5>
					</li>
					<li><i class="fa icon-asmnt-between-somewhat"></i>
						<h5 class="form-control  smile-mobile-popup"> Medium </h5>
					</li>
					<li> <i class="fa icon-asmnt-strongly-disagree"></i>
						<h5 class="form-control  smile-mobile-popup"> Low</h5>
					</li>
				</ul>
			</div>
			<div class="modal-footer popup-footer-plp2">
			</div>
		</div>

	</div>
</div>
<!--End of POPUP for mobile view-->
<!-- End of mobile design for intrest-profiler intro page-->