<!--<PLP-nav-header [header]="sectionObject" (changeView)="changeView($event)" [report-status]="report"></PLP-nav-header>-->
<form>


  <div class="form-group">
    <div class="col-spacer">
      <div *ngIf="edited" class="alert alert-success">
        <strong>Success!</strong> {{successLabel}}
      </div>
      <div *ngIf="errorVal" class="alert alert-danger">
        <strong>Oops!</strong> {{successLabel}}
      </div>
      <label class="question-head"><i *ngIf="(report=='')" class="icon-pencil-striped edit-ic-btn"></i>
     <i *ngIf="!(report=='')" class="icon-pencil-striped review-ic-btn"></i>
         <p class="ptitle">{{ questionObject.questions[0] }}</p> 
           <span class="date-text-p">Last Saved On {{educationSavedDt | customDate}}</span><!-- | date:"MM/dd/yyyy"-->
      </label>
      <div class="desktop-table">

        <div class="col-12 col-sm-12 col-md-12 rtable-plp1">


          <div class="rTableRow row" *ngFor="let item of educationFieldList; let even = even;let odd = odd;let indx = index">
            <div class="col-12 col-sm-12 col-md-6 rTableCell " *ngIf="even">
              <div class="checkbox-occ">
                <input type="checkbox" id="{{educationFieldList[indx].value}}" [(ngModel)]="educationFieldList[indx].selected" name="{{educationFieldList[indx].value}}">
                <label for="{{educationFieldList[indx].value}}">{{educationFieldList[indx].label}}</label>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 rTableCell" *ngIf="even">
              <div class="checkbox-occ">
                <input type="checkbox" id="{{educationFieldList[indx+1].value}}" [(ngModel)]="educationFieldList[indx+1].selected" name="{{educationFieldList[indx+1].value}}">
                <label for="{{educationFieldList[indx+1].value}}">{{educationFieldList[indx+1].label}}</label>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div style="width: 100%;" class="mobile-table">
        <div class="row table-striped table-hover">
          <div class="col-12 col-sm-12 col-md-12">

            <div class="table-card" *ngFor="let item of educationFieldList; let even = even;let odd = odd;let indx = index">
            <div class="checkbox-occ">
                <input type="checkbox" class="checkbox-size" id="{{item.value}}" [(ngModel)]="item.selected" name="{{item.value}}">
                <label for="{{item.value}}">{{item.label}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="(report=='')" class="btn-m-t">
        <button type="Submit" class="btn btn-red-plp" (click)="saveEducationPlanCheck()">
      <i class="fa fa-save white-color"  > </i>
       Save Information</button>

      </div>
    </div>
  </div>


</form>
<reflection [fieldName]="field" [sectionName]="section" (containResult)="changeFilledStatus($event)" [question]="questionObject.questions[1]"
  [report-status]="report"></reflection>