<!--<PLP-nav-header [header]="sectionObject" (changeView)="changeView($event)" [report-status]="report"></PLP-nav-header>-->

<div class="form-group">

  <div class="col-spacer">
    <div class="desktop-table">


      <div class="col-12 col-sm-12 col-md-12 rtable-plp1">
        <div class="rTableHeading row" *ngIf="employmentHistoryData && employmentHistoryData.length>0">
          <div class="col-3 col-sm-3 col-md-3 rTableHead">
            Employer</div>
          <div class="col-3 col-sm-3 col-md-3 rTableHead">
            Title</div>
          <div class="col-3 col-sm-3 col-md-3 rTableHead">
            Dates</div>
          <div class="col-3 col-sm-3 col-md-3 rTableHead">
            Duties</div>
        </div>

        <div>
          <div class="row" *ngIf="employmentHistoryData && employmentHistoryData.length == 0">
            <div class="col-12 col-sm-12 col-md-12 rTableCell " align="center" style="font-weight: normal;">
              {{tableNoData}}
            </div>
          </div>
          <div class="rTableRow row" *ngFor='let item of employmentHistoryData'>

            <div class="col-3 col-sm-3 col-md-3 col-lg-3 rTableCell">
              {{item.Employment}}
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 rTableCell">
              {{item.Title}}
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 rTableCell">
              {{item.Dates}}
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 rTableCell">
              {{item.Duties}}
            </div>

          </div>
        </div>
      </div>




    </div>   


    <!-- mobile table ---->

    <div style="width: 100%;" class="mobile-table">

 
<div class="col-12 col-sm-12 col-md-12">
      <div class="rtable-plp1 row" *ngIf="employmentHistoryData && employmentHistoryData.length == 0">
        <div class="col-12 col-sm-12 col-md-12 rTableCell" align="center" style="font-weight: normal;">
          {{tableNoData}}
        </div>
      </div>
      <div class="row mTableRow " *ngFor='let item of employmentHistoryData'>
        <div class="mTableCell">
          <div class="inner-row-m">

            <div class="col-5 col-sm-5 col-md-5 ">
              <b>Employer</b></div>

            <div class="col-7 col-sm-7 col-md-7 ">
              {{item.Employment}}</div>
          </div>
          <div class=" inner-row-m">
            <div class="col-5 col-sm-5 col-md-5 ">
              <b> Title </b></div>

            <div class="col-7 col-sm-7 col-md-7 ">
              {{item.Title}}</div>

          </div>
          <div class=" inner-row-m">
            <div class="col-5 col-sm-5 col-md-5 ">
              <b> Dates </b></div>

            <div class="col-7 col-sm-7 col-md-7 ">
              {{item.Dates}}</div>

          </div>
          <div class=" inner-row-m">
            <div class="col-5 col-sm-5 col-md-5 ">
              <b> Duties </b></div>

            <div class="col-7 col-sm-7 col-md-7 ">
              {{item.Description}}</div>
          </div>
        </div>
      </div>

    </div>

    <!-- End mobile table ---->
    <div class="clearfix"> </div>


  </div>
</div>