<!--<PLP-nav-header [header]="sectionObject" (changeView)="changeView($event)" [report-status]="report"></PLP-nav-header>-->

<div class=" form-group">
  <div class="col-spacer">
    <div class="desktop-table">

      <div class=" ">
        <div class="col-12 col-sm-12 col-md-12  rtable-plp1">
          <div class="rTableHeading row" *ngIf="extraActivitiesData && extraActivitiesData.length>0">
            <div class="col-4 col-sm-4 col-md-4 rTableHead ">
              Organization</div>
            <div class="col-4 col-sm-4 col-md-4 rTableHead">
              Date</div>
            <div class="col-4 col-sm-4 col-md-4 rTableHead">
              Description</div>
          </div>

          <div class="">
            <div class="row" *ngIf="extraActivitiesData && extraActivitiesData.length == 0">
              <div class="col-12 col-sm-12 col-md-12 rTableCell " align="center" style="font-weight: normal;">
                {{tableNoData}}
              </div>
            </div>
            <div class="rTableRow row" *ngFor='let item of extraActivitiesData'>
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 rTableCell">
                {{item.Organization}}
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 rTableCell">
                {{item.Dates}}
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 rTableCell">
                {{item.Description}}
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- mobile table ---->   

    <div style="width: 100%;" class="mobile-table">

       <div class="col-12 col-sm-12 col-md-12">
        <div class="rtable-plp1 row" *ngIf="extraActivitiesData && extraActivitiesData.length == 0">
          <div class="col-12 col-sm-12 col-md-12 rTableCell" align="center" style="font-weight: normal;">
             {{tableNoData}}
          </div>
        </div>
        <div class="row mTableRow " *ngFor='let item of extraActivitiesData'>
          <div class="mTableCell">
            <div class="inner-row-m">

              <div class="col-6 col-sm-6 col-md-6 ">
                <b>Organization</b></div>

              <div class="col-6 col-sm-6 col-md-6 ">
                {{item.Organization}}</div>
            </div>
            <div class=" inner-row-m">
              <div class="col-6 col-sm-6 col-md-6 ">
                <b> Date </b></div>

              <div class="col-6 col-sm-6 col-md-6 ">
                {{item.Dates}}</div>

            </div>
            <div class=" inner-row-m">
              <div class="col-6 col-sm-6 col-md-6">
                <b> Duties </b></div>

              <div class="col-6 col-sm-6 col-md-6 ">
                {{item.Description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End mobile table ---->
    <div class="clearfix"> </div>


  </div>
</div>