<!--<legend class="text-center"> <span class="plp-red pull-left">18/1 </span> My Career Goals <i class="fa fa-graduation-cap" aria-hidden="true"></i>
</legend>-->
<!--<PLP-nav-header [header]="sectionObject" (changeView)="changeView($event)" [report-status]="report"></PLP-nav-header>-->
<div class=" ">
  <div class="col-md-12">
    <div class="col-spacer">
      <div align="center">
        <div class="img-circle">
          <a data-toggle="modal" href="#aboutModal">
            <img border="0" alt="Profile picture" name="aboutme" [src]="userInfo.Avatar" style="cursor:context-menu"></a>
        </div>
        <h3 class="plp-blue-profile">{{userInfo.UserFullName}}</h3>
      </div>
      <!--</center>-->
    </div>
  </div>

  <form [formGroup]="personalForm">
    <!--<div style="position:fixed;height:100%;width:100%;background:transparent;top:50%;"></div>-->

    <div class="">
      <div class="col-spacer">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="edited" class="alert alert-success">
              <strong>Success!</strong> {{successLabel}}
            </div>
            <div *ngIf="errorVal" class="alert alert-danger">
              <strong>Oops!</strong> {{successLabel}}
            </div>
          </div>
          <!--<json-schema-form
  [schema]="yourJsonSchema"
  loadExternalAssets="true"
 >
</json-schema-form>-->
          <div class="col-md-6 form-group">
            <label for="lastName"><i class="fa fa-user"></i> Last Name<span *ngIf="(report=='')" class="red-star">**</span>
           <span *ngIf="personalForm.get('lastName').touched && personalForm.get('lastName').errors">
           <span *ngIf="personalForm.get('lastName').hasError('required')" 
            class="error-color validation-msg">
            {{errorMessage.lname_req}}</span> 
           <span *ngIf="personalForm.get('lastName').hasError('maxlength')"   
           class="error-color validation-msg">
            {{errorMessage.lname_len_exceeded}}</span>
           </span>
        </label>
            <input id="lastName" class="form-control" type="text" formControlName="lastName" [(ngModel)]="userInfo.LastName" [readonly]="!(report=='')"
              (keypress)="changeText($event)" />

          </div>

          <div class="col-md-6 form-group">
            <label for="firstName"><i class="fa fa-user"></i> First Name<span *ngIf="(report=='')" class="red-star">**</span>
            <span *ngIf="personalForm.get('firstName').touched && personalForm.get('firstName').errors"> 
              <span *ngIf="personalForm.get('firstName').hasError('required')"  class="error-color validation-msg">
            {{errorMessage.fname_req}}</span>
             <span *ngIf="personalForm.get('firstName').hasError('maxlength')"   
            class="error-color validation-msg">
            {{errorMessage.fname_len_exceeded}}</span>
            </span></label>
            <input id="firstName" class="form-control" type="text" formControlName="firstName" [(ngModel)]="userInfo.FirstName" [readonly]="!(report=='')"
              (keypress)="changeText($event)" />
          </div>
          <div class="col-md-6 form-group">
            <label for="middleName"><i class="fa fa-user"></i> Middle Name<span *ngIf="personalForm.get('middleName').touched && personalForm.get('middleName').errors"> 
             <span *ngIf="personalForm.get('middleName').hasError('maxlength')"   
            class="error-color validation-msg">
            {{errorMessage.mname_len_exceeded}}</span>
            </span></label>
            <input id="middleName" class="form-control" type="text" formControlName="middleName" [(ngModel)]="userInfo.MiddleName" [readonly]="!(report=='')"
              (keypress)="changeText($event)" />
          </div>
          <div class="col-md-6 form-group">
            <label for="email"><i class="fa fa-envelope"></i> Email<span *ngIf="(report=='')" class="red-star">**</span>
          <span *ngIf="personalForm.get('email').touched && !personalForm.get('email').valid" >
               <span *ngIf="personalForm.get('email').hasError('required')" 
               style="padding-left:10px;text-align:right;" class="error-color">Email Address is required.</span>
<span *ngIf="personalForm.get('email').hasError('incorrectMailFormat')" style="padding-left:10px;text-align:right;" class="error-color">{{errorMessage.email_invalid}}</span>
<span *ngIf="personalForm.get('email').hasError('maxlength')" style="padding-left:10px;text-align:right;" class="error-color"> {{errorMessage.email_len_exceeded}}
</span>
</span>
</label>
            <input id="email" class="form-control" type="text" formControlName="email" [(ngModel)]="userInfo.Email" [readonly]="!(report=='')"
              (keypress)="changeText($event)" />
          </div>
          <div class="col-md-6 form-group">
            <label for="gradYear"><i class="fa fa-calendar "></i> Grad Year<span *ngIf="(report=='')" class="red-star">**</span>
           <span *ngIf="personalForm.get('gradYear').touched && personalForm.get('gradYear').errors"> 
             <span *ngIf="personalForm.get('gradYear').hasError('required')" 
             style="padding-left:10px;text-align:right;" class="error-color"> {{errorMessage.gradyr_req}}
</span>
<span *ngIf="personalForm.get('gradYear').hasError('onlyNumerals')" style="padding-left:10px;text-align:right;" class="error-color"> {{errorMessage.numeral_req}}
</span>
</span>
</label>
            <input id="gradYear" class="form-control" type="text" formControlName="gradYear" [(ngModel)]="userInfo.GradYear" [readonly]="!(report=='')"
            />
          </div>
          <div class="container-fluid">
            <hr>
            <hr>
          </div>
          <div class="clearfix"> </div>
        </div>
        <span *ngIf="personalForm.get('lastName').touched && personalForm.get('lastName').errors">
            <span *ngIf="personalForm.get('lastName').hasError('invalidText')"   
             class="error-color validation-msg">
             {{errorMessage.script_tags_error}}</span>
        </span>
        <span *ngIf="personalForm.get('firstName').touched && personalForm.get('firstName').errors"> 
            <span *ngIf="personalForm.get('firstName').hasError('invalidText')"   
            class="error-color validation-msg">
             {{errorMessage.script_tags_error}}</span>
        </span>
        <span *ngIf="personalForm.get('middleName').touched && personalForm.get('middleName').errors"> 
            <span *ngIf="personalForm.get('middleName').hasError('invalidText')"   
             class="error-color validation-msg">
             {{errorMessage.script_tags_error}}</span>
        </span>

        <div class="clearfix"> </div>
        <div *ngIf="(report=='')" class="form-group">
          <button type="Submit" class="btn btn-red-plp" [disabled]="!personalForm.valid" (click)="SavePersonalInfo()">
  <i class="fa  fa-save white-color"> </i> Save Information</button>
        </div>
      </div>
    </div>

  </form>