<div class="row">
	<div class="col-md-8">
		<div class="panel-group t-p-p2">
			<!--Display success data-->
			<div *ngIf="successDelete" class="success-color"><b>Answer set {{deleteVal}} Deleted successfully</b><br></div>
			<div class="panel panel-default panel-box-plp2 " *ngFor="let item of restoreAnswerSet;let indx = index">
				<div class="panel-body body-content-plp2">
					<h4>
						<!--Display list of restore answer sets-->
						<u class="cls-cursor" (click)="restoreQuestionsLearnStyle(item.answerSet,item.userNotes)">{{'LANG_EN_TRANS.restore_ans_set' | translate }} {{item.answerSet}} </u>
					</h4>
					<!--Displays user notes-->
					<p>{{item.userNotes}}</p>
				</div>
				<div class="panel-footer-p2">
					<div class="row">
						<div class="col-6 col-sm-6 col-md-6">
							<h6 class="green-color-plp2"><i class="icon-asmnt-date" aria-hidden="true"></i>&nbsp;&nbsp;{{item.UpdatedTimeStamp | customDate}}</h6>
						</div>
						<div class="col-6 col-sm-6 col-md-6 ">
							<!--Display delete button-->
							<h6 class="pull-right"> <a class="red-color-plp2 cls-cursor" (click)="deleteLSAnswerSet(item.answerSet)"><i class="icon-asmnt-delete" aria-hidden="true" ></i>&nbsp;{{'LANG_EN_TRANS.delete' | translate}} </a></h6>
						</div>
					</div>
				</div>
			</div>
			<img *ngIf="(resLength==0)" align="center" class="data-notfound" src="/assets/images/nodata-found.png" />
		</div>
	</div>
	<div class="clearfix"> </div>
</div>