<!--<PLP-nav-header [header]="sectionObject" (changeView)="changeView($event)" [report-status]="report"></PLP-nav-header>-->
<form [formGroup]="CommentAndSigForm">

  <div class="form-group">

    <div class="col-spacer">
      <div *ngIf="edited" class="alert alert-success">
        <strong>Success!</strong> {{successLabel}}
      </div>
      <div *ngIf="errorVal" class="alert alert-danger">
        <strong>Oops!</strong> {{successLabel}}
      </div>
      <label class="question-head"><i *ngIf="(report=='')" class="icon-pencil-striped edit-ic-btn"></i>
         <i *ngIf="!(report=='')" class="icon-pencil-striped review-ic-btn"></i>
 <p class="ptitle">Comments</p> 

     <span *ngIf="CommentAndSigForm.get('Comment').touched && CommentAndSigForm.get('Comment').errors">
                           <span *ngIf="CommentAndSigForm.get('Comment').hasError('invalidText')" 
                             style="padding-left:10px;text-align:right;" class="error-color">
                           {{errorMessage.script_tags_error}}</span>
                           <span *ngIf="CommentAndSigForm.get('Comment').hasError('maxlengthCheckForComment')" 
                             style="padding-left:10px;text-align:right;" class="error-color">
                           {{errorMessage.comment_limit}}</span> 
                   </span> </label>
      <textarea *ngIf="(report=='')" [class.comment-text-hght]="(report=='')" id="Comment" rows="3" name="commentsAndSignature"
        class="form-control " placeholder="Enter your comments" formControlName="Comment" [(ngModel)]="commentsAndSignatureData.Comment"
        (keypress)="changeTextarea($event)"></textarea>

      <div *ngIf="!(report=='') && commentsAndSignatureData.Comment!=''" id="commentTextPara" class="report-usernotes" [innerHTML]="commentInfoPara"></div>
      <div *ngIf="!(report=='') && commentsAndSignatureData.Comment ==''" id="commentTextPara11" class="report-usernotes empty-reflection">No information has been entered for this item.</div>
      <br>
      <div>
        <label class="question-head"><b>Signature:</b><br></label>
      </div>
      <div class="checkbox-occ">
        <input type="checkbox" id="Signature" formControlName="Signature" [(ngModel)]="commentsAndSignatureData.Signature" name="Signature">
        
         <label for="Signature"> Check to digitally sign your Personal Learning Plan.</label><br>
      </div>
      <div class="clearfix"> </div>

      <div *ngIf="(report=='')" class="btn-m-t">
        <button type="submit" class="btn btn-red-plp" [disabled]="!CommentAndSigForm.valid" (click)="SaveComments()">
  <i class="fa fa-save white-color"> </i> Save Information</button>

      </div>
    </div>
  </div>

</form>