<!-- Fixed navbar for interest-profiler assessment-->
<div class="row desktop-design-hide-plp2">
  <div class="col-md-12">
    <div class="panel panel-green">
      <div class="panel-progress-head-orng-plp4 shadow-bottom">
        <div class="col-md-1 col-sm-2"> <span class="leftArrowClass" (click)="previousQuestion()"><i [class.class-withOpacityIP]="isClassVisibleIP" class="fa  icon-asmnt-back-arrow arrows" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
             </span>
          <span class="eq-ques">Q.{{cnt}}  </span>
        </div>
        <div class="col-md-8 col-sm-7 col-lg-9">
          <div class="progress xs progress-m">
            <div class="progress-bar-bg-green" [ngStyle]="{'width': currentValue +'%'}"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-2 text-right">
          <span>{{remaining}} Remaining </span>&nbsp;
          <span class="ntxArrow" *ngIf="showNxtCCIjr" style="float:right;cursor:pointer;">
                  <i aria-hidden="true"  class="fa icon-asmnt-forward-arrow arrows" (click)="nextIPArrow(cnt)"></i></span>
        </div>
      </div>
      <div class="panel-progress-orng-plp4">
        <p class="text-center plp2-white">{{ccijrquestionarr[InterestQuestionName]}}</p>
      </div>
      <div class="circle-body">
        <div class="circle-ass-plp4 text-center" *ngFor="let item of ccijrresponsesarr;let inx=index">
          <button class="btn btn-default blue-circle-button circle-btn-plp4" href="" [ngClass]="(btnHighLight==item.value)? 'cci-backbtn-orange-plp4':''"
            (click)="callQuestion(item.value)">
                    <i class={{iconArray[inx]}} [ngClass]="(btnHighLight==item.value)? 'white-color':''"></i>
                <p>{{item.text}}&nbsp; &nbsp;</p>
              </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- mobile design for interest-profiler assessment -->
<div class="mobile-design-hide-plp2">
  <div class="panel-progress-orng-plp4">
    <div class="container mob-head-style">
      <div class="row plp-2-m-t">
        <div class="col-6"> <span class="text-right">Q.{{cnt}} </span> </div>
        <div class="col-6 text-right"> <span>{{remaining}} Remaining</span> </div>
      </div>
      <div class="row plp-2-m-t">
        <div class="col-1"> <span class="leftArrowClass" (click)="previousQuestion()"> <i [class.class-withOpacityIP]="isClassVisibleIP" class="fa icon-asmnt-back-arrow arrows"></i> </span></div>
        <div class="col-9">
          <div class="progress xs progress-m">
            <div class="progress-bar-bg-green" [ngStyle]="{'width': currentValue +'%'}"></div>
          </div>
        </div>
        <div class="col-1 "> <span class="ntxArrow" *ngIf="showNxtCCIjr"> 
            <i aria-hidden="true" class="fa icon-asmnt-forward-arrow arrows" (click)="nextIPArrow(cnt)"></i> </span> </div>
      </div>
      <div class="row plp-2-m-t">
        <div class="col-1"> </div>
        <div class="col-9">
          <p class="text-center">{{ccijrquestionarr[InterestQuestionName]}}</p>
        </div>
        <div class="col-1"> </div>
      </div>
    </div>
  </div>
  <div style="clear: both;"> </div>
  <div class="card-blue">
    <div class="card-plp-2   circle-btn-plp4" *ngFor="let item of ccijrresponsesarr;let inx=index" [ngClass]="(btnHighLight==item.value)? 'cci-backbtn-orange-plp4':''"
      (click)="callQuestion(item.value)">
      <div class="row valign">
        <div class="col-9">
          <p>{{item.text}}&nbsp; &nbsp;</p>
        </div>
        <div class="col-3">
          <span><i class={{iconArray[inx]}} [ngClass]="(btnHighLight==item.value)? 'white-color':''"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End  of interest-profiler assessment mobile design -->